.chart-wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width:95%;
    padding: 2rem;
    border-radius: 0.5rem;
}
.pie-char{
    height: 500px;
}